.table {
    display:table;
    width: 100%;
}

.table-header {
    display: flex;
    width: 100%;
    background: #000;
    padding: 18px 0;
}

.table-row {
    display: flex;
    width: 100%;
    padding: 18px 0;
}

.table-data,
.header__item {
    flex: 1 1 24%;
    text-align: center;
}

.header__item {
    text-transform: uppercase;
}